body {
    width: 33%;
    min-width: 200px;
}

.res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

.btn {
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

.btn-number {
    background-color: lightgreen;
    color: brown;
}

.btn-show {
    background-color: darkgreen;
    color: white;
}

.btn-count {
    background-color: black;
    color: red;
}

